*   {
   margin: 0px;
   padding: 0px;
    }
	
h1  {
   font: bold 30px tahoma;
   color: blue;
   }
   
h2  {
   font: bold 20px tahoma;
   color: blue;
   }

h3  {
   font: bold 20px tahoma;
   color: blue;
   }

header, section, footer, aside, nav, article, hgroup {
    display: block;
	}
	
body {
    width: 100%
	display: -webkit-box;
	-webkit-box-pack: center;
	}
	
#big_wrapper {
    max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	text-align: left;
	}
	
#top_header {
   background: thistle;
   border: 3px solid black;
   padding: 20px;
   }
   
#top_menu {
   border: red;
   background: purple;
   color: white;
   }
   
#top_menu li {
   display: inline-block;
   list-style: none;
   padding: 5px;
   font: bold 14px tahoma;
   }
   
#new_div {
   display: -wibkit-box;
   -webkit-box-orient: hozirontal;
   }
   
#main_section {
   background-color: thistle;
   border: 1px solid blue;
   -webkit-box-flex: 1;
   margin: 10px;
   padding: 10px;
   }
   
#side_news {
	float: right;
   border:1px solid red;
   width: 220px;
   margin: 20px 0px;
   padding: 30px;
   background: #66cccc;
   }
   
#the_footer {
   background: gray;
   text-align: center;
   padding: 20px;
   border-top: 2px solid green;
   }